.pageTitle {
	text-align: center;
}

.duesLabel  {
	width: 125px;
	float: left;
	font-weight: bold;
}

.contactContainer {
	width: 500px;
}

.contactLabel  {
	width: 135px;
	float: left;
	font-weight: bold;
}

.contactInput {
	width: 365px;
	float: left;
	clear: right;
}

.paymentLabel  {
	width: 175px;
	float: left;
	font-weight: bold;
}

.paymentInput {
	width: 325px;
	float: left;
	clear: right;
}

input, select {
	clear: left;
}

.mailingListInput {
	float: left;
}

.moreInfo {
	font-style: italic;
	font-size: 0.75em;
}

fieldset {
	margin-bottom: 15px;
}

.liabilityContainer {
	margin-bottom: 10px;
}

#nextStepButtonContainer {
	width: 100%;
	text-align: center;
}

.required {
	color: red;
	font-weight: bold;
}